# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.My project.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\vanessa\projects\udemy-unity-mobile-game-development\.idea\.idea.My project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
