# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.BallLauncher.iml
# Datasource local storage ignored files
/../../../../../../../../:\vanessa\projects\udemy-unity-mobile-game-development\BallLauncher\.idea\.idea.BallLauncher\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
