# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Asteroid avoider.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\vanessa\projects\udemy-unity-mobile-game-development\Asteroid avoider\.idea\.idea.Asteroid avoider\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
