# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.DaCarrinhoNao.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\vanessa\projects\udemy-unity-mobile-game-development\DaCarrinhoNao\.idea\.idea.DaCarrinhoNao\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
